/*#logo_img {

    float: left;
    margin-left: 5%;
    margin-top: 20%;
    border: 1px solid black;
}*/

* {
    margin: 0px;
    padding: 0px;
}

#view_1 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFE521;

}

#login_container {
    float: left;
    margin-left: 5%;
    margin-top: 18%;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans';  
}
#logo_img {

    float: left;
    margin-left: 5%;
    margin-top: 15%;
    height: 50%;
    width: 50%;
    }

input {
    width: 300px;
    height: 27px;
    border-radius: 8px;
    border: none;
}

#forg_pass {
    font-size: 15px;
    text-align: left;
}

#login_button {
    width: 300px;
    height: 27px;
    border: none;
    background-color: #FF009E;
    font-size: 20px;
    font-family: 'Open Sans';
    border-radius: 8px;  
}

#view_2{
    display: none;
    float: left;
    margin-left: 20%;
}

#view_3{
    display: none;
    float: left;
    margin-left: 20%;
}

#header {
    display: none;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #FFE521;
    text-align: center;
}

#cohorts_button {
    width: 100%;
    height: 4%;
    border: none;
    background-color: #FF009E;
    font-size: 20px;
    font-family: 'Open Sans';
    border: 2px solid #000000;
    border-radius: 5px;
}

#students_button {
    width: 100%;
    height: 4%;
    border: none;
    background-color: #FF009E;
    font-size: 20px;
    font-family: 'Open Sans';
    border: 2px solid #000000;
    border-radius: 5px;
}

#logo_img1 {
    width: 70%;
    height: 70%
}

#tm_img {
    width: 60%;
    height: 60%
}

#title {
    align-items: center;
}
/* #FFE521 - amarillo*/
/* #56F89A - verde*/
/* #FF009E - fucsia*/