/*#logo_img {

    float: left;
    margin-left: 5%;
    margin-top: 20%;
    border: 1px solid black;
}*/

* {
    margin: 0px;
    padding: 0px;
}

#view_1 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFE521;

}

#login_container {
    float: left;
    margin-left: 5%;
    margin-top: 18%;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans';  
}
#logo_img {

    float: left;
    margin-left: 5%;
    margin-top: 15%;
    height: 50%;
    width: 50%;
}

input {
    width: 30px
}

#view_2{
    display: none;
}

#view_3{
    display:none;
}

/* #FFE521 - amarillo*/
/* #56F89A - verde*/
/* #FF009E - fucsia*/